<div class="row">
	<div class="span6 offset3">
			<div class="show-event">
				<div class="well">
				<strong><%= @event.name %></strong>
				<%= image_tag @event.image %>
			<p>
			  <b>Description:</b>
			  <%= @event.description %>
			</p>

			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
			<% if current_user == @event.user %>
			  <%= link_to 'Edit', edit_event_path(@event) %> |
				<%= link_to 'Back', events_path %>
			<% end %>
			</div>
			

			<%= render 'comments/comment'%>
			<%= render 'comments/form' %>
		</div>
	</div>
</div>